.Board {
	position: relative;
}

.Board:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.Board-grid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height:100%;
  height:100%;
}